<p>
  <h4>User:</h4>
<%= review.reviewer %>
</p>

<p>
  <h4>Review:</h4>
  <%= review.msg %>
</p>
<%= link_to "Update it", edit_book_review_path(@book, review) %>

<h5><%= link_to "Destroy", [@book, review], data: {
                                              turbo_method: :delete,
                                              turbo_confirm: "Are you sure?",
                                            } %></h5>